@import '../../../../styles';
@import '../../../layout/sidebar/sidebar.component';

.fab-button-container {
  width: $sidebar-width;
  margin-top: 100px;
  display: flex;
}

.fab-button {
  margin: auto;
  font-size: 30px;
}

.file-picker {
  display: none;
}

#nextButton {
  border: 0;
  height: 60px;
  width: 100px;
  margin: auto;
  font-size: 28px;
}

.nextButtonContainer {
  display: flex;
  margin-top: 500px
}
