@import '../../../../styles';
@import '../../../layout/sidebar/sidebar.component';

.fab-button-container {
  width: $sidebar-width;
  display: flex;
}

.fab-button {
  margin: auto;
  font-size: 30px;
  background-color: $theme-color-4;
  color: white;
  box-shadow: 8px 8px 3px silver;
}

.file-picker {
  display: none;
}

#nextButton {
  height: 60px;
  width: 100px;
  margin: auto;
  background-color: $theme-color-4;
  color: white;
  border-style: solid;
  font-size: 28px;
  box-shadow: 8px 8px 3px silver;
}

.nextButtonContainer {
  display: flex;
  margin: auto;
}

.title-text {
  font-family: "Product Sans Regular", sans-serifi, serif;
  font-size: 22px;
  margin: 100px auto auto auto;
  text-align: center;
  line-height: $sidebar-title-height; /* Vertically alligns text */
  color: black;
  padding: 10px;
}
