@import "../../../styles";
@import "../../layout/sidebar/sidebar.component";


.sidebar-title {
  background-color: $theme-color-5;
  height: $sidebar-title-height;
  width: $sidebar-width;
}

.sidebar-title-text {
  font-family: "Product Sans Regular", sans-serifi, serif;
  font-size: 48px;
  margin: auto;
  text-align: center;
  line-height: $sidebar-title-height; /* Vertically alligns text */
  color: white;
}
