@import "../../../styles.scss";

.footer {
  position: fixed;
  background-color: $theme-color-4;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Product Sans Regular", sans-serifi, serif;
  height: 50px;
  display: flex;
}

.footer-text {
  margin: 15px auto;
  font-size: 22px;
}
