@import "../../../styles.scss";

$sidebar-width: 25vw;
$sidebar-title-height: 40px;

.sidebar {
  margin-top: 80px;
  margin-right: 5px;
  width: $sidebar-width;
  position: fixed;
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  border: solid;
  bottom: 0;
  margin-bottom: 55px;
  display: flex;
  box-shadow: 5px 5px 10px silver;
}

