@import "../../../styles.scss";

$sidebar-width: 25vw;
$sidebar-title-height: 80px;

.sidebar {
  height: 100%;
  margin-top: 75px;
  width: $sidebar-width;
  position: fixed;
  top: 0; /* Stay at the top */
  right: 0;
  background-color: $theme-color-5;
  overflow-x: hidden; /* Disable horizontal scroll */
}

