<app-sidebar-title [title]="componentTitle"></app-sidebar-title>
<div class="title-text">
    <p>Select the masks you want to use.</p>
</div>

<div class="mask-checkboxes">
    <div>
        <ul style="list-style-type: none">
            <li *ngFor="let object of formMask()">
                <mat-checkbox [formControl]="object.form" (change)="ChangeMasks($event)">{{object.name}}</mat-checkbox>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="stillLoading" class="spinner-container">
    <mat-spinner style="margin: auto"></mat-spinner>
</div>
<div *ngIf="error" class="title-text">
    <p>Unfortunately, an error occured. Please try again.</p>
</div>
<div *ngIf="error" id="back-button-container">
    <button
            id="backButton"
            [routerLink]="'/upload'"
            mat-stroked-button
    >Start over
    </button>
</div>
<div *ngIf="allowContinuation" id="submit-button-container">
    <button
            id="submitButton"
            (click)="onSubmit()"
            mat-stroked-button
    >Next
    </button>
</div>
<div *ngIf="noMaskFound" class="title-text">
    <p>No masks were found in this image.<br>Please check your image and masking settings.</p>
</div>
<div *ngIf="noMaskFound" id="return-button-container">
    <button
            id="returnButton"
            (click)="onReturn()"
            mat-stroked-button
    >Try Again
    </button>
</div>