@import '../../../layout/sidebar/sidebar.component';


.title-text {
  font-family: "Product Sans Regular", sans-serifi, serif;
  font-size: 22px;
  margin: 50px auto auto auto;
  text-align: center;
  line-height: $sidebar-title-height; /* Vertically alligns text */
  color: black;
  padding: 30px;
}

.mask-checkboxes {
  padding-left: 30px;
}

.spinner-container {
  display: flex;
}
