/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts';
@import '~material-design-icons/iconfont/material-icons.css';

$theme-color-1: #fcf7f8;
$theme-color-2: #ced3dc;
$theme-color-3: #aba9c3;
$theme-color-4: #275dad;
$theme-color-5: #5b616a;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
